*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0A0F1F;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#111827;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:white;
}

.logo{
font-size:28px;
font-weight:700;
color:#00D9FF;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:80px;
color:#00D9FF;
}

.hero p{
font-size:22px;
margin:20px;
}

.btn{
padding:15px 30px;
background:#00D9FF;
color:black;
text-decoration:none;
border-radius:8px;
}

.stats{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
}

.card{
background:#121A2A;
padding:30px;
width:250px;
text-align:center;
border-radius:15px;
}
